<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="java.sql.Connection" level="ERROR" />
    <logger name="java.sql.PreparedStatement" level="ERROR" />
    <logger name="org.apache.zookeeper" level="ERROR" />
    <!-- logback为java中的包 -->
    <logger name="logback"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>