<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sn.dao.DatadictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.sn.entity.Datadictionary" >
    <id column="Fuid" property="fuid" jdbcType="VARCHAR" />
        <result property="fullname" column="FULLNAME"  jdbcType="VARCHAR" />
        <result property="code" column="CODE"  jdbcType="VARCHAR" />
        <result property="sequence" column="SEQUENCE"  jdbcType="INTEGER" />
        <result property="description" column="DESCRIPTION"  jdbcType="VARCHAR" />
        <result property="createdate" column="CREATEDATE"  jdbcType="TIMESTAMP" />
        <result property="modifydate" column="MODIFYDATE"  jdbcType="TIMESTAMP" />
        <result property="modifyuserrealname" column="MODIFYUSERREALNAME"  jdbcType="VARCHAR" />
		   
  </resultMap>
  <sql id="Base_Column_List" >
         FUID ,
         FULLNAME ,
         CODE ,
         SEQUENCE ,
         DESCRIPTION ,
         CREATEDATE ,
         MODIFYDATE ,
         MODIFYUSERREALNAME 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT  <include refid="Base_Column_List" />
	    from base_datadictionary
		      where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_datadictionary
    	where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </delete>
  <insert id="insert" parameterType="com.sn.entity.Datadictionary" >
    
         insert into base_datadictionary ( 
         		FUID , 
         	          		FULLNAME , 
         	          		CODE , 
         	          		SEQUENCE , 
         	          		DESCRIPTION , 
         	          		CREATEDATE , 
         	          		MODIFYDATE , 
         	          		MODIFYUSERREALNAME  
         	 )
   	 	values (
   	 		#{fuid,jdbcType=VARCHAR} , 
   	 	   	 		#{fullname,jdbcType=VARCHAR} , 
   	 	   	 		#{code,jdbcType=VARCHAR} , 
   	 	   	 		#{sequence,jdbcType=INTEGER} , 
   	 	   	 		#{description,jdbcType=VARCHAR} , 
   	 	   	 		#{createdate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{modifydate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{modifyuserrealname,jdbcType=VARCHAR}  
   	 	)
  </insert>
  
      
  
   <insert id="insertSelective" parameterType="com.sn.entity.Datadictionary">
  	  insert into  base_datadictionary
  	  
  	   <trim prefix="(" suffix=")" suffixOverrides="," >
  	   
  	  	<if test="fuid != null" >
  	 	  FUID ,  
  	  	</if>
  	  	<if test="fullname != null" >
  	 	  FULLNAME ,  
  	  	</if>
  	  	<if test="code != null" >
  	 	  CODE ,  
  	  	</if>
  	  	<if test="sequence != null" >
  	 	  SEQUENCE ,  
  	  	</if>
  	  	<if test="description != null" >
  	 	  DESCRIPTION ,  
  	  	</if>
  	  	<if test="createdate != null" >
  	 	  CREATEDATE ,  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 	  MODIFYDATE ,  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 	  MODIFYUSERREALNAME   
  	  	</if>
  	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="fuid != null" >
        	#{fuid,jdbcType=VARCHAR} , 
       </if>
    	<if test="fullname != null" >
        	#{fullname,jdbcType=VARCHAR} , 
       </if>
    	<if test="code != null" >
        	#{code,jdbcType=VARCHAR} , 
       </if>
    	<if test="sequence != null" >
        	#{sequence,jdbcType=INTEGER} , 
       </if>
    	<if test="description != null" >
        	#{description,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifydate != null" >
        	#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifyuserrealname != null" >
        	#{modifyuserrealname,jdbcType=VARCHAR}  
       </if>
       </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sn.entity.Datadictionary" >
    update  base_datadictionary
    <set >
    	<if test="fullname != null" >
        	  FULLNAME=#{fullname,jdbcType=VARCHAR} , 
       </if>
    	<if test="code != null" >
        	  CODE=#{code,jdbcType=VARCHAR} , 
       </if>
    	<if test="sequence != null" >
        	  SEQUENCE=#{sequence,jdbcType=INTEGER} , 
       </if>
    	<if test="description != null" >
        	  DESCRIPTION=#{description,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifydate != null" >
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifyuserrealname != null" >
        	  MODIFYUSERREALNAME=#{modifyuserrealname,jdbcType=VARCHAR}  
       </if>
 	 </set>
    where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
		 </update>        
		        
<update id="updateByPrimaryKey" parameterType="com.sn.entity.Datadictionary" >
    update base_datadictionary
    set 
        	  FULLNAME=#{fullname,jdbcType=VARCHAR} , 
        	  CODE=#{code,jdbcType=VARCHAR} , 
        	  SEQUENCE=#{sequence,jdbcType=INTEGER} , 
        	  DESCRIPTION=#{description,jdbcType=VARCHAR} , 
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
        	  MODIFYUSERREALNAME=#{modifyuserrealname,jdbcType=VARCHAR}  
      where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </update>
  
  <select id="selectByColum" resultMap="BaseResultMap" parameterType="com.sn.entity.Datadictionary" >
    select 
    <include refid="Base_Column_List" />
    from base_datadictionary
   <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="fullname != null" >
  	 		   and    FULLNAME  = #{fullname}  
  	  	</if>
  	  	<if test="code != null" >
  	 		   and    CODE  = #{code}  
  	  	</if>
  	  	<if test="sequence != null" >
  	 		   and    SEQUENCE  = #{sequence}  
  	  	</if>
  	  	<if test="description != null" >
  	 		   and    DESCRIPTION  = #{description}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
    </where>  
  </select>
  
  <delete id="deleteByColum"  parameterType="com.sn.entity.Datadictionary">  
    DELETE FROM base_datadictionary  
      <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="fullname != null" >
  	 		   and    FULLNAME  = #{fullname}  
  	  	</if>
  	  	<if test="code != null" >
  	 		   and    CODE  = #{code}  
  	  	</if>
  	  	<if test="sequence != null" >
  	 		   and    SEQUENCE  = #{sequence}  
  	  	</if>
  	  	<if test="description != null" >
  	 		   and    DESCRIPTION  = #{description}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
  	  </where>  
</delete>

<delete id="deleteByByPrimaryKeys" parameterType="java.util.List">  
    DELETE FROM  base_datadictionary WHERE 
		        FUID 
     IN  
    <foreach collection="list" item="item" open="(" separator="," close=")">   
        #{item}  
    </foreach>  
</delete>

<select id="countByColum" resultType="java.lang.Integer" parameterType="com.sn.entity.Datadictionary" >
select count(*) from base_datadictionary
 <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="fullname != null" >
  	 		   and    FULLNAME  = #{fullname}  
  	  	</if>
  	  	<if test="code != null" >
  	 		   and    CODE  = #{code}  
  	  	</if>
  	  	<if test="sequence != null" >
  	 		   and    SEQUENCE  = #{sequence}  
  	  	</if>
  	  	<if test="description != null" >
  	 		   and    DESCRIPTION  = #{description}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
    </where>  
</select>

<select id="selectAll"   parameterType="com.sn.entity.Datadictionary" >
select * from base_datadictionary order by #{order}
</select>

  <!--   自定义方法区域 -->
  
  <select  id="selectLikeColum"  resultMap="BaseResultMap"   >
		select  
		 <include refid="Base_Column_List" />
  	  from base_datadictionary where  
     #{0}   LIKE CONCAT('%','#{1}','%' ) 
	</select>
	
	<select id="selectByCustom" resultMap="BaseResultMap" parameterType="com.sn.entity.Datadictionary" >
    select 
    <include refid="Base_Column_List" />
    from base_datadictionary
      <where> 
      	<if test="fullname != null" >
  	 		       FULLNAME  = #{fullname}  
  	  	</if> 
  	  	<if test="fuid != null" >
  	 		   and  length(code)= #{fuid}    
  	  	</if>
  	  	<if test="code != null" >
  	 		   and code   LIKE CONCAT('','${code}','%' ) 
  	  	</if>
  	  	<if test="parentcode != null" >
  	 		   and code   LIKE CONCAT('','${parentcode}','%' )  and length(code) = length('${parentcode}')  + 3
  	  	</if>
  	  	</where>
	</select>
	
</mapper>