<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sn.dao.MenuRoleMapper" >
  <resultMap id="BaseResultMap" type="com.sn.entity.MenuRole" >
    <id column="Fuid" property="fuid" jdbcType="VARCHAR" />
        <result property="roleId" column="ROLE_ID"  jdbcType="VARCHAR" />
        <result property="menuId" column="MENU_ID"  jdbcType="VARCHAR" />
        <result property="operatingId" column="OPERATING_ID"  jdbcType="VARCHAR" />
        <result property="createdate" column="CREATEDATE"  jdbcType="TIMESTAMP" />
        <result property="createuserrealname" column="CREATEUSERREALNAME"  jdbcType="VARCHAR" />
        <result property="createuserid" column="CREATEUSERID"  jdbcType="VARCHAR" />
        <result property="modifydate" column="MODIFYDATE"  jdbcType="TIMESTAMP" />
        <result property="modifyuserrealname" column="MODIFYUSERREALNAME"  jdbcType="VARCHAR" />
        <result property="modifyuserid" column="MODIFYUSERID"  jdbcType="VARCHAR" />
		   
  </resultMap>
  <sql id="Base_Column_List" >
         FUID ,
         ROLE_ID ,
         MENU_ID ,
         OPERATING_ID ,
         CREATEDATE ,
         CREATEUSERREALNAME ,
         CREATEUSERID ,
         MODIFYDATE ,
         MODIFYUSERREALNAME ,
         MODIFYUSERID 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT  <include refid="Base_Column_List" />
	    from base_menu_role
		      where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_menu_role
    	where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </delete>
  <insert id="insert" parameterType="com.sn.entity.MenuRole" >
    
         insert into base_menu_role ( 
         		FUID , 
         	          		ROLE_ID , 
         	          		MENU_ID , 
         	          		OPERATING_ID , 
         	          		CREATEDATE , 
         	          		CREATEUSERREALNAME , 
         	          		CREATEUSERID , 
         	          		MODIFYDATE , 
         	          		MODIFYUSERREALNAME , 
         	          		MODIFYUSERID  
         	 )
   	 	values (
   	 		#{fuid,jdbcType=VARCHAR} , 
   	 	   	 		#{roleId,jdbcType=VARCHAR} , 
   	 	   	 		#{menuId,jdbcType=VARCHAR} , 
   	 	   	 		#{operatingId,jdbcType=VARCHAR} , 
   	 	   	 		#{createdate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{createuserrealname,jdbcType=VARCHAR} , 
   	 	   	 		#{createuserid,jdbcType=VARCHAR} , 
   	 	   	 		#{modifydate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{modifyuserrealname,jdbcType=VARCHAR} , 
   	 	   	 		#{modifyuserid,jdbcType=VARCHAR}  
   	 	)
  </insert>
  
      
  
   <insert id="insertSelective" parameterType="com.sn.entity.MenuRole">
  	  insert into  base_menu_role
  	  
  	   <trim prefix="(" suffix=")" suffixOverrides="," >
  	   
  	  	<if test="fuid != null" >
  	 	  FUID ,  
  	  	</if>
  	  	<if test="roleId != null" >
  	 	  ROLE_ID ,  
  	  	</if>
  	  	<if test="menuId != null" >
  	 	  MENU_ID ,  
  	  	</if>
  	  	<if test="operatingId != null" >
  	 	  OPERATING_ID ,  
  	  	</if>
  	  	<if test="createdate != null" >
  	 	  CREATEDATE ,  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 	  CREATEUSERREALNAME ,  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 	  CREATEUSERID ,  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 	  MODIFYDATE ,  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 	  MODIFYUSERREALNAME ,  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 	  MODIFYUSERID   
  	  	</if>
  	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="fuid != null" >
        	#{fuid,jdbcType=VARCHAR} , 
       </if>
    	<if test="roleId != null" >
        	#{roleId,jdbcType=VARCHAR} , 
       </if>
    	<if test="menuId != null" >
        	#{menuId,jdbcType=VARCHAR} , 
       </if>
    	<if test="operatingId != null" >
        	#{operatingId,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="createuserrealname != null" >
        	#{createuserrealname,jdbcType=VARCHAR} , 
       </if>
    	<if test="createuserid != null" >
        	#{createuserid,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifydate != null" >
        	#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifyuserrealname != null" >
        	#{modifyuserrealname,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifyuserid != null" >
        	#{modifyuserid,jdbcType=VARCHAR}  
       </if>
       </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sn.entity.MenuRole" >
    update  base_menu_role
    <set >
    	<if test="roleId != null" >
        	  ROLE_ID=#{roleId,jdbcType=VARCHAR} , 
       </if>
    	<if test="menuId != null" >
        	  MENU_ID=#{menuId,jdbcType=VARCHAR} , 
       </if>
    	<if test="operatingId != null" >
        	  OPERATING_ID=#{operatingId,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="createuserrealname != null" >
        	  CREATEUSERREALNAME=#{createuserrealname,jdbcType=VARCHAR} , 
       </if>
    	<if test="createuserid != null" >
        	  CREATEUSERID=#{createuserid,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifydate != null" >
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifyuserrealname != null" >
        	  MODIFYUSERREALNAME=#{modifyuserrealname,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifyuserid != null" >
        	  MODIFYUSERID=#{modifyuserid,jdbcType=VARCHAR}  
       </if>
 	 </set> 
    where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
		 </update>        
		        
<update id="updateByPrimaryKey" parameterType="com.sn.entity.MenuRole" >
    update base_menu_role
    set 
        	  ROLE_ID=#{roleId,jdbcType=VARCHAR} , 
        	  MENU_ID=#{menuId,jdbcType=VARCHAR} , 
        	  OPERATING_ID=#{operatingId,jdbcType=VARCHAR} , 
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
        	  CREATEUSERREALNAME=#{createuserrealname,jdbcType=VARCHAR} , 
        	  CREATEUSERID=#{createuserid,jdbcType=VARCHAR} , 
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
        	  MODIFYUSERREALNAME=#{modifyuserrealname,jdbcType=VARCHAR} , 
        	  MODIFYUSERID=#{modifyuserid,jdbcType=VARCHAR}  
      where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </update>
  
  <select id="selectByColum" resultMap="BaseResultMap" parameterType="com.sn.entity.MenuRole" >
    select 
    <include refid="Base_Column_List" />
    from base_menu_role
   <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="roleId != null" >
  	 		   and    ROLE_ID  = #{roleId}  
  	  	</if>
  	  	<if test="menuId != null" >
  	 		   and    MENU_ID  = #{menuId}  
  	  	</if>
  	  	<if test="operatingId != null" >
  	 		   and    OPERATING_ID  = #{operatingId}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 		   and    CREATEUSERREALNAME  = #{createuserrealname}  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 		   and    CREATEUSERID  = #{createuserid}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 		   and    MODIFYUSERID  = #{modifyuserid}  
  	  	</if>
    </where>  
  </select>
  
  <delete id="deleteByColum"  parameterType="com.sn.entity.MenuRole">  
    DELETE FROM base_menu_role   
    <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="roleId != null" >
  	 		   and    ROLE_ID  = #{roleId}  
  	  	</if>
  	  	<if test="menuId != null" >
  	 		   and    MENU_ID  = #{menuId}  
  	  	</if>
  	  	<if test="operatingId != null" >
  	 		   and    OPERATING_ID  = #{operatingId}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 		   and    CREATEUSERREALNAME  = #{createuserrealname}  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 		   and    CREATEUSERID  = #{createuserid}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 		   and    MODIFYUSERID  = #{modifyuserid}  
  	  	</if>
  	  	</where>  
</delete>

<delete id="deleteByByPrimaryKeys" parameterType="java.util.List">  
    DELETE FROM  base_menu_role WHERE 
		        FUID 
     IN  
    <foreach collection="list" item="item" open="(" separator="," close=")">   
        #{item}  
    </foreach>  
</delete>

<select id="countByColum" resultType="java.lang.Integer" parameterType="com.sn.entity.MenuRole" >
select count(*) from base_menu_role
 <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="roleId != null" >
  	 		   and    ROLE_ID  = #{roleId}  
  	  	</if>
  	  	<if test="menuId != null" >
  	 		   and    MENU_ID  = #{menuId}  
  	  	</if>
  	  	<if test="operatingId != null" >
  	 		   and    OPERATING_ID  = #{operatingId}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 		   and    CREATEUSERREALNAME  = #{createuserrealname}  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 		   and    CREATEUSERID  = #{createuserid}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 		   and    MODIFYUSERID  = #{modifyuserid}  
  	  	</if>
    </where>  
</select>

<select id="selectAll"   parameterType="com.sn.entity.MenuRole" >
select * from base_menu_role order by #{order}
</select>

  <!--   自定义方法区域 -->
  
  <select  id="selectLikeColum"  resultMap="BaseResultMap"   >
		select  
		 <include refid="Base_Column_List" />
  	  from base_menu_role where 
     #{0}   LIKE concat(cancat('%',#{1}),'%')
	
	</select>

<select  id="selectMenuOp"  resultMap="BaseResultMap"   >
		select op.code as operating_id, m.menu_url as menu_id,mr.* from base_menu_role mr left join   base_menu m on mr.menu_id=m.fuid  left join  base_operating op  on op.fuid=mr.operating_id
	
	</select>
	
	<select id="selectByCustom" resultMap="BaseResultMap" parameterType="com.sn.entity.MenuRole" >
    select 
    <include refid="Base_Column_List" />
    from base_user
      <where>  
		 
  	  	</where>
	</select>
	
</mapper>