<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sn.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.sn.entity.UserRole" >
    <id column="Fuid" property="fuid" jdbcType="VARCHAR" />
        <result property="userid" column="USERID"  jdbcType="VARCHAR" />
        <result property="roleid" column="ROLEID"  jdbcType="VARCHAR" />
        <result property="createdate" column="CREATEDATE"  jdbcType="TIMESTAMP" />
        <result property="createuserid" column="CREATEUSERID"  jdbcType="VARCHAR" />
        <result property="createuserrealname" column="CREATEUSERREALNAME"  jdbcType="VARCHAR" />
        <result property="modifydate" column="MODIFYDATE"  jdbcType="TIMESTAMP" />
        <result property="modifyuserid" column="MODIFYUSERID"  jdbcType="VARCHAR" />
        <result property="modifyuserrealname" column="MODIFYUSERREALNAME"  jdbcType="VARCHAR" />
		   
  </resultMap>
  <sql id="Base_Column_List" >
         FUID ,
         USERID ,
         ROLEID ,
         CREATEDATE ,
         CREATEUSERID ,
         CREATEUSERREALNAME ,
         MODIFYDATE ,
         MODIFYUSERID ,
         MODIFYUSERREALNAME 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
      SELECT  <include refid="Base_Column_List" />
	    from base_user_role
		      where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_user_role
    	where 
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </delete>
  <insert id="insert" parameterType="com.sn.entity.UserRole" >
    
         insert into base_user_role ( 
         		FUID , 
         	          		USERID , 
         	          		ROLEID , 
         	          		CREATEDATE , 
         	          		CREATEUSERID , 
         	          		CREATEUSERREALNAME , 
         	          		MODIFYDATE , 
         	          		MODIFYUSERID , 
         	          		MODIFYUSERREALNAME  
         	 )
   	 	values (
   	 		#{fuid,jdbcType=VARCHAR} , 
   	 	   	 		#{userid,jdbcType=VARCHAR} , 
   	 	   	 		#{roleid,jdbcType=VARCHAR} , 
   	 	   	 		#{createdate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{createuserid,jdbcType=VARCHAR} , 
   	 	   	 		#{createuserrealname,jdbcType=VARCHAR} , 
   	 	   	 		#{modifydate,jdbcType=TIMESTAMP} , 
   	 	   	 		#{modifyuserid,jdbcType=VARCHAR} , 
   	 	   	 		#{modifyuserrealname,jdbcType=VARCHAR}  
   	 	)
  </insert>
  
      
  
   <insert id="insertSelective" parameterType="com.sn.entity.UserRole">
  	  insert into  base_user_role
  	  
  	   <trim prefix="(" suffix=")" suffixOverrides="," >
  	   
  	  	<if test="fuid != null" >
  	 	  FUID ,  
  	  	</if>
  	  	<if test="userid != null" >
  	 	  USERID ,  
  	  	</if>
  	  	<if test="roleid != null" >
  	 	  ROLEID ,  
  	  	</if>
  	  	<if test="createdate != null" >
  	 	  CREATEDATE ,  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 	  CREATEUSERID ,  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 	  CREATEUSERREALNAME ,  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 	  MODIFYDATE ,  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 	  MODIFYUSERID ,  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 	  MODIFYUSERREALNAME   
  	  	</if>
  	    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	<if test="fuid != null" >
        	#{fuid,jdbcType=VARCHAR} , 
       </if>
    	<if test="userid != null" >
        	#{userid,jdbcType=VARCHAR} , 
       </if>
    	<if test="roleid != null" >
        	#{roleid,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="createuserid != null" >
        	#{createuserid,jdbcType=VARCHAR} , 
       </if>
    	<if test="createuserrealname != null" >
        	#{createuserrealname,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifydate != null" >
        	#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifyuserid != null" >
        	#{modifyuserid,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifyuserrealname != null" >
        	#{modifyuserrealname,jdbcType=VARCHAR}  
       </if>
       </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sn.entity.UserRole" >
    update  base_user_role
    <set >
    	<if test="userid != null" >
        	  USERID=#{userid,jdbcType=VARCHAR} , 
       </if>
    	<if test="roleid != null" >
        	  ROLEID=#{roleid,jdbcType=VARCHAR} , 
       </if>
    	<if test="createdate != null" >
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="createuserid != null" >
        	  CREATEUSERID=#{createuserid,jdbcType=VARCHAR} , 
       </if>
    	<if test="createuserrealname != null" >
        	  CREATEUSERREALNAME=#{createuserrealname,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifydate != null" >
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
       </if>
    	<if test="modifyuserid != null" >
        	  MODIFYUSERID=#{modifyuserid,jdbcType=VARCHAR} , 
       </if>
    	<if test="modifyuserrealname != null" >
        	  MODIFYUSERREALNAME=#{modifyuserrealname,jdbcType=VARCHAR}  
       </if>
 	 </set>
    where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
		 </update>        
		        
<update id="updateByPrimaryKey" parameterType="com.sn.entity.UserRole" >
    update base_user_role
    set 
        	  USERID=#{userid,jdbcType=VARCHAR} , 
        	  ROLEID=#{roleid,jdbcType=VARCHAR} , 
        	  CREATEDATE=#{createdate,jdbcType=TIMESTAMP} , 
        	  CREATEUSERID=#{createuserid,jdbcType=VARCHAR} , 
        	  CREATEUSERREALNAME=#{createuserrealname,jdbcType=VARCHAR} , 
        	  MODIFYDATE=#{modifydate,jdbcType=TIMESTAMP} , 
        	  MODIFYUSERID=#{modifyuserid,jdbcType=VARCHAR} , 
        	  MODIFYUSERREALNAME=#{modifyuserrealname,jdbcType=VARCHAR}  
      where  
		        FUID = #{fuid,jdbcType=VARCHAR}  
  </update>
  
  <select id="selectByColum" resultMap="BaseResultMap" parameterType="com.sn.entity.UserRole" >
    select 
    <include refid="Base_Column_List" />
    from base_user_role
   <where>  
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="userid != null" >
  	 		   and    USERID  = #{userid}  
  	  	</if>
  	  	<if test="roleid != null" >
  	 		   and    ROLEID  = #{roleid}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 		   and    CREATEUSERID  = #{createuserid}  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 		   and    CREATEUSERREALNAME  = #{createuserrealname}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 		   and    MODIFYUSERID  = #{modifyuserid}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
    </where>  
  </select>
  
  <delete id="deleteByColum"  parameterType="com.sn.entity.UserRole">  
    DELETE FROM base_user_role   
      <where>   
  	  	<if test="fuid != null" >
  	 		       FUID  = #{fuid}  
  	  	</if>
  	  	<if test="userid != null" >
  	 		   and    USERID  = #{userid}  
  	  	</if>
  	  	<if test="roleid != null" >
  	 		   and    ROLEID  = #{roleid}  
  	  	</if>
  	  	<if test="createdate != null" >
  	 		   and    CREATEDATE  = #{createdate}  
  	  	</if>
  	  	<if test="createuserid != null" >
  	 		   and    CREATEUSERID  = #{createuserid}  
  	  	</if>
  	  	<if test="createuserrealname != null" >
  	 		   and    CREATEUSERREALNAME  = #{createuserrealname}  
  	  	</if>
  	  	<if test="modifydate != null" >
  	 		   and    MODIFYDATE  = #{modifydate}  
  	  	</if>
  	  	<if test="modifyuserid != null" >
  	 		   and    MODIFYUSERID  = #{modifyuserid}  
  	  	</if>
  	  	<if test="modifyuserrealname != null" >
  	 		   and    MODIFYUSERREALNAME  = #{modifyuserrealname}  
  	  	</if>
  	  </where> 
</delete>

<delete id="deleteByByPrimaryKeys" parameterType="java.util.List">  
    DELETE FROM  base_user_role WHERE 
		        FUID 
     IN  
    <foreach collection="list" item="item" open="(" separator="," close=")">   
        #{item}  
    </foreach>  
</delete>
  <!--   之上为公共方法，不允许修改 -->
  <!--   自定义方法区域 -->
  
  <select  id="selectLikeColum"  resultMap="BaseResultMap"   >
		select  
		 <include refid="Base_Column_List" />
  	  from base_user_role where 
     #{0}   LIKE concat(cancat('%',#{1}),'%')
	
	</select>
	
	<resultMap type="com.sn.entity.UserRole" id="UserRoleView">
    <result column="FUID" jdbcType="VARCHAR" property="fuid" /> 
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="ROLEID" jdbcType="VARCHAR" property="roleid" />
    <result column="MODIFYDATE" jdbcType="DATE" property="modifydate" />
  </resultMap>
  <select  id="selectView" parameterType="java.lang.String"  resultMap="UserRoleView"   >
	select ur.fuid,ur.userid,ur.roleid,ur.modifydate,r.realname from base_user_role  ur,base_role r where r.fuid=ur.roleid and ur.userid=#{userid} 
	
	</select>
	
</mapper>